body {
    padding: 100px 0;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 5;
    display: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: -30px;
    font-weight: 100;
    line-height: 3rem;
    opacity: 0.5;
}

.error {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    min-height: 100px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'lato', sans-serif;
    transition: .5s;
    font-size: 1rem;
    line-height: 1.2rem;
    z-index: 9;
    text-align: center;
    text-transform: capitalize;
    color: #ff3737;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #cacaca;
}

.product-image {
    background: rgb(98, 90, 90);
    width: 100%;
}

.image-upload-container {
    width: 60%;
    position: relative;
    height: 600px;
}

.upload-overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-family: 'lato', sans-serif;
    text-transform: capitalize;
    transition: .5s;
}

.products-details {
    width: 60%;
    max-width: 60%;
}

.disable {
   pointer-events: none;
   filter: grayscale(1);
}

.cart-btn {
    background: #d5be8b;
}

*[contenteditable="true"] {
    outline: none;
    border: 2px solid #cacaca;
    padding: 10px;
}

*[contenteditable="true"]:focus {
    border-color: #e6c774;
}

.des {
    height: 500px;
    overflow: scroll;
    white-space: pre-wrap;
}

.tag-section {
    padding: 30px 5vw;
}

.text {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 2rem;
    opacity: .5;
}

.tags {
    height: 300px;
    margin: 20px 0;
    font-family: 'lato', sans-serif;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.add-product-btn {
    text-transform: capitalize;
    border: none;
    outline: none;
    color: #fff;
    background: #bda267;
    cursor: pointer;
    margin-right: 20px;
} 

.draft-btn {
    background: #838080;
}