*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 9;
    transition: .5s;
}

.navbar.bg {
    background: rgb(110, 106, 106);
}

.link-container {
    display: flex;
    align-items: center;
    list-style: none;
}

.link-item {
    margin: 10px;
}

.navbar.bg .link {
    color: #fff;
    opacity: 0.8;
}

.link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    opacity: 0.7;
    transition: .5s;
}

.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active {
   opacity: 1;
}

.user-interactions {
    display: flex;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
}

.cart, .user {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.cart .cart-icon, .user .user-icon {
    width: 40px;
}

.cart-item-count {
    font-family: 'lato', sans-serif;
    color: #b88e32;
    padding: 5px;
    font-size: 15px;
    border-radius: 50%;
    background: #190c05;
    position: absolute;
    bottom: -12px;
    left: -12px;
}

.header-section {
    width: 100%;
    height: 100vh;
    background-image: url(../img/soffa.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-heading {
    font-size: 100px;
    text-transform: capitalize;
    color: #fff;
}

.header-heading span {
    color: #b88e32;
}

/* best-selling-product */

.best-selling-product-section {
    position: relative;
    padding: 60px 5vw;
}

.best-selling-product-section .section-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}

.best-selling-product-section .product-container {
    display: flex;
    justify-content: space-between;
}

.best-selling-product-section .product-container .product-card {
    border: 15px solid #89671d;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background: #89671d;
}

.best-selling-product-section .product-container .product-card:nth-child(even) {
    border-color: #190c05;
    background: #190c05;
}

.best-selling-product-section .product-container .product-card .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.best-selling-product-section .product-container .product-card .product-name {
    position: absolute;
    color: #fff;
    text-transform: capitalize;
    font-family: 'lato', sans-serif;
    font-size: 25px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.5s;
}

.best-selling-product-section .product-container .product-card:hover .product-name {
    opacity: 1;
}

.best-selling-product-section .product-container .product-card:hover .product-img {
    opacity: 0.5;
}

/* mid-section */

.mid-section {
    width: 100%;
    height: 800px;
    padding: 40px 5vw;
}

.mid-section .section-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
}

.mid-section .section-item .section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.mid-section .section-info {
    width: 50%;
    height: 100%;
    background: #fff;
    display: block;
    margin-left: auto;
    padding: 50px;
    text-align: center;
}

.mid-section .section-info .title {
    font-size: 70px;
    line-height: 100px;
    text-transform: uppercase;
}

.mid-section .section-info .title span {
    color: #b88e32;
}

.mid-section .section-info .info {
    font-family: 'lato', sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    opacity: 0.5;
}

/* image collage section */

.image-mid-section {
    width: 100%;
    height: 600px;
    padding: 50px 5vw;
}

.image-mid-section .image-collage {
    width: 100%;
    height: 100%;
    background-image: url(../img/poster.jpg);
    background-size: cover;
}

.image-mid-section .image-collection {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    background: #fff;
    margin: auto;
}

.image-mid-section .image-collection .collage-img {
    position: absolute;
    object-fit: cover;
    transition: .5s;  
}

.image-mid-section .image-collection .collage-img:nth-child(1) {
    width: 350px;
    height: 350px;
    top: 20px;
    left: 40px;
}

.image-mid-section .image-collection .collage-img:nth-child(2) {
    width: 250px;
    height: 250px;
    top: 200px;
    left: 200px;
}

.image-mid-section .image-collection .collage-img:nth-child(3) {
    width: 295px;
    height: 250px;
    top: 100px;
    left: 350px;
}

.image-mid-section .image-collection .collage-img:hover {
    transform: translateY(-10px);
}

/* review-section */

.review-section {
    padding: 50px 5vw;
}

.review-section span{
   color: #b88e32;
}

.review-section .review-conatainer {
    margin: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.review-section .review-card {
    width: 250px;
    height: auto;
    font-family: 'lato', sans-serif;
}

.review-section .review-card .user-dp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.review-section .review-card .user-dp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.review-section .review-card .user-dp::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.review-section .review-card .user-dp::after {
    content: attr(data-rating);
    position: absolute;
    bottom: 0;
    right: -20px;
    padding: 5px 20px;
    border-radius: 20px;
    background: #b88e32;
}

.review-section .review-card .review-title {
    font-size: 20px;
    line-height: 25px;
    margin: 15px 0;
    text-transform: capitalize;
}

.review-section .review-card .review {
    opacity: 0.7;
}

/* end-section */


.end-section {
    padding: 40px 5vw;
}

.end-section .section-item {
    height: 800px;
    position: relative;
    padding: 20px;
}

.end-section .section-item .section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.end-section .section-info {
    width: 50%;
    height: 100%;
    background: #fff;
    display: block;
    margin: 0;
    padding: 50px;
    text-align: center;
}

.end-section .section-info .title {
    font-size: 100px;
    line-height: 150px;
    margin: 50px;
    text-transform: uppercase;
}

.end-section .section-info .title span {
    color: #b88e32;
}

.end-section .section-info .info {
    font-family: 'lato', sans-serif;
    font-size: 25px;
    line-height: 45px;
    margin-top: 30px;
    opacity: 0.5;
}

/* footer part */

footer {
    font-family: 'lato', sans-serif;
    color: #b88e32;
    background: #190c05;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

.user-icon-popup {
    position: absolute;
    top: 200%;
    padding: 20px;
    background: #fff;
    font-family: 'lato', sans-serif;
    width: 180px;
    right: 0;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #190c05;
    display: none;
}

.user-icon-popup.active {
    display: block;
}

.user-icon-popup p{
    font-size: 1.2rem;
    text-transform: capitalize;
    line-height: 2rem;
}

.user-icon-popup a {
    display: block;
    margin: 20px auto 0;
    text-decoration: none;
    color: #fff;
    background: #b88e32;
    padding: 10px;
    width: 100px;
    text-transform: capitalize;
    border-radius: 4px;
}